version: "3.9"
services:
  app:
    build: .
    restart: always
    environment:
      - APP_PORT=8080
      - DATABASE_HOST=postgres
      - DATABASE_PORT=5432
      - DATABASE_NAME=postgres
      - DATABASE_PASSWORD=postgres

      - JWT_SECRET=fdkslhfdshgjldsngklds
      - JWT_EXPIRATION=24h
    ports:
      - '8080:8080'
    expose:
      - '8080'
    depends_on:
      - postgres
    networks:
      - nodenotes
  
  postgres:
    image: postgres:14.1-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
      - 5432:5432
    volumes: 
      - postgres:/var/lib/postgresql/data
    networks:
      - nodenotes

  pgadmin:
    image: dpage/pgadmin4:4.23
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@pgadmin.com
      PGADMIN_DEFAULT_PASSWORD: password
      PGADMIN_LISTEN_PORT: 80
    ports:
      - 5050:80
    volumes:
      - pgadmin:/var/lib/pgadmin
    depends_on:
      - postgres
    networks:
      - nodenotes

networks:
  nodenotes:
    name: nodenotes
    driver: bridge

volumes:
  postgres:
    name: postgres
    driver: local
  pgadmin: